{% load static %}

<!-- Sidebar Start -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="{% url 'index_admin' %}" class="text-nowrap logo-img">
                <img src="{% static 'images/logos/logo_light.png' %}" width="180" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <!-- Home -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'index_admin' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>

                <!-- Users -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Users</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_users' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View Users</span>
                    </a>
                </li>

                <!-- Platform  -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Platform</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_platform' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View Platform</span>
                    </a>
                </li>
                <!-- Game Features  -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Game Features</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_game_features' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View Game Features</span>
                    </a>
                </li>
                <!-- Game Modes  -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Game Modes</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_game_modes' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View Game Modes</span>
                    </a>
                </li>
                <!-- Game Category  -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Game Categories</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_game_category' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View Game Categories</span>
                    </a>
                </li>
                <!-- Operating System  -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Operating System</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_os' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View Operating Systems</span>
                    </a>
                </li>
                <!-- Processors  -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Processros</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_processor' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View Processros</span>
                    </a>
                </li>
                <!-- VideoCards & Versions  -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">VideoCards</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'view_vc' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">View VideoCards</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->