{% for game in games %}
                    <div class="product-card" class="product-card">
                        <div class="card-img-box" style="color: black;">
                            {% if game.game_logo %}
                                <img src="{{ game.game_logo.url }}" alt="{{ game.game_logo }}" class="w-100" />
                            {% else %}
                                image is not rendering
                            {% endif %}
                        </div>
                        <div class="card-details">
                            <!-- <a href="/view_game_page/{{ game.gid }}"> -->
                                <h2>{{ game.game_name }}</h2>
                                <div class="grid-col-2">
                                    <div class="ratings">★★★☆☆</div>
                                    <div class="price">₹{{ game.game_price }}</div>
                                </div>
                                <div class="grid-col-2">
                                    <div class="flex-row">Developer: <span>{{ game.game_developer }}</span></div>
                                    <div class="flex-row">Publisher: <span>{{ game.game_publisher }}</span></div>
                                </div>
                                <div class="card-btn-box">
                                    <a href = "/view_game_page/{{ game.product_key }}">
                                        <button class="filled-btn">View Game</button>
                                    </a>
                                    <!-- <a href = "{% url 'add_to_cart' game.product_key %}"><button class="filled-btn">Add to Cart</button></a> -->
                                    <button class="outline-btn">♡</button>
                                </div>
                            <!-- </a> -->
                        </div>
                    </div>

                {% endfor %}