{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KartZed | Contact</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <!-- Ion Icons CDN -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> 
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Include Navigation Bar -->
    {% include 'navbar/navbar.html' %}


    <section class="contact-box">
        <form action="contact_view/insert_contact" method="get" class="contact-form">
            <header class="contact-header">Have a question? We're here to help!</header>
            <div class="flex-2">
                <div class="col">
                    <label for="fname">Username</label>
                    <input type="text" name="contact_name" id="fname" placeholder="Fill me" required/>
                </div>
                <div class="col">
                    <label for="email">Email ID</label>
                    <input type="email" name="contact_email" id="email" placeholder="Me Too" required/>
                </div>
            </div>
            <div class="col mt-30">
                <label for="message">Please leave your message here</label>
                <textarea name="contact_message" id="message" cols="30" rows="10" 
                    placeholder="We'd love to hear from you. Write your thoughts below." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="save-btn">Send Message</button>
        </form>
    </section>

</body>
</html>