{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Passwrod | KartZed</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/dashboard-styles.css' %}" />
</head>

<body>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}
        <script>alert("{{ message }}")</script> 
      {% endif %}
    {% endfor %}
  {% endif %}
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'images/logos/logo_light.png' %}" width="180" alt="">
                </a>
                <p class="text-center">Change Password here...</p>
                <form action="admin_change_password" method="post">
                    {% csrf_token %}
                    <input type="email" name="email" value="{{ email }}" class="form-control" id="email" aria-describedby="emailHelp">
                    <div class="mb-4">
                      <label for="new_password" class="form-label">New Password</label>
                      <input type="password" name="new_password" class="form-control" id="new_password">
                    </div>
                    <div class="mb-4">
                      <label for="conf_new_password" class="form-label">Confirm Password</label>
                      <input type="password" name="conf_new_password" class="form-control" id="conf_new_password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Change Password</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>