{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Features | Admin | Dashboard</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
    <!-- CSS Styling -->
    <link rel="stylesheet" href="{% static 'css/dashboard-styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/root.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <!-- Ion Icon CDN -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> 
            {% endif %}
        {% endfor %}
    {% endif %}
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">

        <!-- Including Sidebar -->
        {% include 'sidebar-admin.html' %}

        <!--  Main wrapper -->
        <div class="body-wrapper">

            <!-- Including Header -->
            {% include 'navbar-admin.html' %}

            <div class="container-fluid">
                <!-- Feature Form -->
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Add Game Features</h5>
                        <form action="insert_game_feature" method="get" enctype="multipart/form-data" class="content-area-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="inputFeature" class="form-label">Enter Game Feature</label>
                                <input type="text" name="game_feature_name" class="form-control" id="inputFeature" 
                                    placeholder="SinglePlayer, Co-op, CrossPlatformPlay etc." required/>
                            </div>
                            <button type="submit" class="btn btn-primary">add feature</button>
                        </form>  
                    </div>
                </div>

                <!-- Display Features -->
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Game Features</h5>
                        <div class="row">
                            <div class="grid-box">
                                {% for feature in features %}
                                <div class="col-3" id="feature-form">

                                    <input type="hidden" value="{{ feature.game_feature_id }}" disabled />

                                    <p>{{ feature.game_feature_name }}</p>

                                    <!-- Delete -->
                                    <a href="{% url 'delete_game_feature' feature.game_feature_id %}" onclick="return confirm('Are you sure you want to delete this?')">
                                        <span class="delete-btn icon-box">
                                            <ion-icon name="trash-outline" class="icon"></ion-icon>
                                        </span> 
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <!-- <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script> -->
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
    <!-- <script src="{% static 'js/dashboard.js' %}"></script> -->
</body>
</html>