{% load static %}
<nav class="navbar">

    <div class="logo-box">
        <a href="{% url 'indexPage' %}">
            <img src="{% static 'images/logos/logo_dark.png' %}" width="180" alt="Logo" srcset="" />
        </a>
    </div>
    <div class="center-nav">
        <div class="search-box">
            <input type="text" class="search-bar" id="search-bar"
                placeholder="Search store" />
            <ion-icon name="search-outline" class="search-icon"></ion-icon>
        </div>
        <div class="links">
            <a href="#">Discover</a>
            <a href="#">Browse</a>
            <a href="#">Distribution</a>
            {% if request.session.is_session %}
                <a href="{% url 'render_account_page' %}">Account</a>
            {% endif %}
        </div>
    </div>
    <div class="right-nav">
        {% if request.session.is_session %}
            <a href="{% url 'customer_logout_handle' %}">Logout</a>
        {% else %}
            <a href="{% url 'render_customer_login_page' %}">Login</a>
        {% endif %}
        <a href="{% url 'view_cart' %}" class="cart-btn">
            Cart
            {% if not cart_count %}
                <span></span>
            {% else %}
                <span class="cart-badge">{{ cart_count }}</span>
            {% endif %}
        </a>
    </div>

</nav>