{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | KartZed</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
    <!-- CSS Links -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
    <!-- Ion Icons CDN -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <!-- Include Navigation Bar -->
    {% include 'navbar/navbar.html' %}

    <div class="cart-container">

        <div class="show-cart-box">

            <div class="cart-item-box">
                <div class="cart-item-header">
                    <h2>PRODUCT</h2>
                    <h2>PRICE</h2>
                    <h2>QUANTITY</h2>
                    <h2>REMOVE</h2>
                </div>
                <div class="cart-item-body">
                    {% for item in Games %}
                    <div class="row">
                        <div class="cart-item">
                            <div class="flex-2">
                                <div class="item-img">
                                    <img src="{{ item.game_logo.url }}" alt="" srcset="">
                                </div>
                                <div class="item-details">
                                    <h2>{{ item.game_name }}</h2>
                                    <p class="description">{{ item.game_description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="price-div cart-item">
                            <p class="price" id="game-price-{{ forloop.counter }}">₹{{ item.game_price }}</p>
                        </div>
                        <div class="cart-item">
                            <div class="qty-select-box">
                                <button class="decr-btn" id="decrement-btn"
                                data-product-id="{{ forloop.counter }}">-</button>
                                <input type="number" value="1" id="quantity-{{ forloop.counter }}" class="qty-input"
                                pattern="[0-9]+" maxlength="3" data-product-id="{{ forloop.counter }}"
                                onKeyDown="return false" />
                                <button class="incr-btn" id="increment-btn"
                                    data-product-id="{{ forloop.counter }}">+</button>
                            </div>
                        </div>
                        <div class="cart-item">
                            <a href="{% url 'delete_cart_item' item.gid %}" 
                                class="remove-btn"
                                onclick="return confirm('Are you sure you want to delete this?')">
                                <span class="delete-btn icon-box rd-icon">
                                    
                                    <ion-icon name="trash-outline" class="icon"></ion-icon>
                                    
                                </span> 
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="checkout-box">
                <div class="coupon-box">
                    <div class="header-box">COUPON CODE</div>
                    <p>If you have a coupon code, please enter it in the box below</p>
                    <div class="input-box">
                        <input type="text" name="" id="coupon_code" />
                        <button>Apply Coupon</button>
                    </div>
                </div>
                <div class="bill-box">
                    <div class="header-box">ORDER SUMMARY</div>
                    <p>Shipping and additional costs are calculated based on values you have entered.</p>
                    <div class="flex-2">
                        <p>Order Subtotal</p>
                        <p>₹390.00</p>
                    </div>
                    <button type="submit" class="checkout-btn">PROCCEED TO CHECKOUT</button>
                </div>
            </div>

        </div>

    </div>


    <script>
        // Get all the increment buttons and add a click event listener to each one
        var incrementButtons = document.querySelectorAll(".incr-btn");
        incrementButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                // Get the ID of the product associated with this increment button
                var productId = this.dataset.productId;

                // Get the input element for the product with this ID
                var quantityInput = document.querySelector("#quantity-" + productId);

                // Get the current value of the input element and increment it
                var currentValue = parseInt(quantityInput.value);
                var newValue = currentValue
                // Make sure the new value is not less than 10
                if (currentValue < 10) {
                    var newValue = currentValue + 1;
                } 

                // Update the input element with the new value
                quantityInput.value = newValue;

                // Get the price element for the product with this ID
                var priceElement = document.querySelector("#game-price-" + productId);

                // Get the current price of the product and update it based on the new quantity
                var currentPrice = parseFloat(priceElement.innerText.replace("₹", ""));
                var newPrice = (currentPrice / currentValue) * newValue;

                // Update the price element with the new price, rounded to 2 decimal places
                priceElement.innerText = "₹" + newPrice;
            });
        });

        // Get all the decrement buttons and add a click event listener to each one
        var decrementButtons = document.querySelectorAll(".decr-btn");
        decrementButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                // Get the ID of the product associated with this decrement button
                var productId = this.dataset.productId;

                // Get the input element for the product with this ID
                var quantityInput = document.querySelector("#quantity-" + productId);

                // Get the current value of the input element and decrement it
                var currentValue = parseInt(quantityInput.value);
                var newValue = currentValue - 1;

                // Make sure the new value is not less than 1
                if (newValue < 1) {
                    newValue = 1;
                } 

                // Update the input element with the new value
                quantityInput.value = newValue;

                // Get the price element for the product with this ID
                var priceElement = document.querySelector("#game-price-" + productId);

                // Get the current price of the product and update it based on the new quantity
                var currentPrice = parseFloat(priceElement.innerText.replace("₹", ""));
                var newPrice = (currentPrice / currentValue) * newValue;

                // Update the price element with the new price, rounded to 2 decimal places
                priceElement.innerText = "₹" + newPrice;
            });
        });

    </script>
</body>

</html>