{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | KartZed</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
    <!-- CSS Links -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
    <!-- Ion Icons CDN -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert("{{ message }}")</script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Include Navigation Bar -->
    {% include 'navbar/navbar.html' %}

    <div class="cart-container">

        <div class="show-cart-box">

            <div class="cart-item-box">
                <div class="cart-item-header">
                    <h2>PRODUCT</h2>
                    <h2>POINTS</h2>
                    <h2>QUANTITY</h2>
                    <h2>REMOVE</h2>
                </div>
                <form action='view_order_summary' method="post" class="cart-item-body">
                    {% csrf_token %}
                    {% for item in Games %}
                    <div class="row">
                        <div class="cart-item">
                            <div class="flex-2">
                                <div class="item-img">
                                    <img src="{{ item.game_logo.url }}" alt="" srcset="">
                                </div>
                                <div class="item-details">
                                    <h2 class="game-name">{{ item.game_name }}</h2>
                                    <p class="description">{{ item.game_description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="price-div cart-item">
                            <p class="price" id="game-price-{{ forloop.counter }}">{{ item.game_points }}</p>
                        </div>
                        <div class="cart-item">
                            <div class="qty-select-box">
                                <span class="decr-btn" id="decrement-btn"
                                    data-product-id="{{ forloop.counter }}">-</span>
                                <input type="number" value="1" id="quantity-{{ forloop.counter }}" class="qty-input"
                                    pattern="[0-9]+" maxlength="3" data-product-id="{{ forloop.counter }}"
                                    onKeyDown="return false" />
                                <span class="incr-btn" id="increment-btn"
                                    data-product-id="{{ forloop.counter }}">+</span>
                            </div>
                        </div>
                        <div class="cart-item">
                            <a href="{% url 'delete_cart_item' item.gid %}" class="remove-btn"
                                onclick="return confirm('Are you sure you want to delete this?')">
                                <span class="delete-btn icon-box rd-icon">

                                    <ion-icon name="trash-outline" class="icon"></ion-icon>

                                </span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="order-summary">
                        <!-- Total Cost and Quantity shown here -->
                    </div>
                    <button type="submit" class="checkout-btn">PROCCEED TO CHECKOUT</button>
                </form>
            </div>

        </div>

    </div>

    <script>
        // Get all the increment buttons and add a click event listener to each one
        var incrementButtons = document.querySelectorAll(".incr-btn");
        incrementButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                // Get the ID of the product associated with this increment button
                var productId = this.dataset.productId;

                // Get the input element for the product with this ID
                var quantityInput = document.querySelector("#quantity-" + productId);

                // Get the current value of the input element and increment it
                var currentValue = parseInt(quantityInput.value);
                var newValue = currentValue;

                // Make sure the new value is not less than 10
                if (currentValue < 10) {
                    var newValue = currentValue + 1;
                }

                // Update the input element with the new value
                quantityInput.value = newValue;

                // Get the price element for the product with this ID
                var priceElement = document.querySelector("#game-price-" + productId);

                // Get the current price of the product and update it based on the new quantity
                var currentPrice = parseInt(priceElement.innerText); // .replace("₹", "")
                var newPrice = (currentPrice / currentValue) * newValue;

                // Update the price element with the new price, rounded to 2 decimal places
                priceElement.innerText = newPrice;

                // Update the order summary
                updateOrderSummary();
            });
        });

        // Get all the decrement buttons and add a click event listener to each one
        var decrementButtons = document.querySelectorAll(".decr-btn");
        decrementButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                // Get the ID of the product associated with this decrement button
                var productId = this.dataset.productId;

                // Get the input element for the product with this ID
                var quantityInput = document.querySelector("#quantity-" + productId);

                // Get the current value of the input element and decrement it
                var currentValue = parseInt(quantityInput.value);
                var newValue = currentValue - 1;

                // Make sure the new value is not less than 1
                if (newValue < 1) {
                    newValue = 1;
                }

                // Update the input element with the new value
                quantityInput.value = newValue;

                // Get the price element for the product with this ID
                var priceElement = document.querySelector("#game-price-" + productId);

                // Get the current price of the product and update it based on the new quantity
                var currentPrice = parseInt(priceElement.innerText); //.replace("₹", "")
                var newPrice = (currentPrice / currentValue) * newValue;

                // Update the price element with the new price, rounded to 2 decimal places
                priceElement.innerText = newPrice;

                // Update the input element with the new value
                quantityInput.value = newValue;

                // Update the order summary
                updateOrderSummary();
            });
        });

        function updateOrderSummary() {
            // Get all the cart items
            var cartItems = document.querySelectorAll(".cart-item-body .row");

            // Initialize the total cost, quantity, and game names
            var totalCost = 0;
            var totalQuantity = 0;

            // Loop through each cart item and update the total cost, quantity, and game names
            cartItems.forEach(function (cartItem) {
                // Get the ID of the product associated with this cart item
                var productId = cartItem.querySelector(".qty-input").dataset.productId;

                // Get the quantity of the product associated with this cart item
                var quantity = parseInt(cartItem.querySelector(".qty-input").value);

                // Get the price of the product associated with this cart item
                var price = parseInt(cartItem.querySelector(".price").innerText);

                // Get the name of the game associated with this cart item
                var gameName = cartItem.querySelector(".game-name").innerText;

                // Update the total cost, quantity, and game names
                eachCost = price;
                totalCost += price;
                eachQty = quantity;
                totalQuantity += quantity;
            });

            

            // Update the order summary
            var orderSummary = document.querySelector(".cart-item-body .order-summary");
            orderSummary.innerHTML = "";
            orderSummary.insertAdjacentHTML(
                "beforeend",
                "<div>Total Quantity: "+totalQuantity+"<input type='hidden' name='total_qty' value='"+totalQuantity+"' class='input-decor' /> </div>"
            );
            orderSummary.insertAdjacentHTML(
                "beforeend",
                "<div>Total Points: "+totalCost+"<input type='hidden' name='total_points' value='"+totalCost+"' class='input-decor' /> </div>"
            );

        }
        updateOrderSummary();


    </script>

</body>

</html>