.main-navbar{
    position: sticky;
    top: 0;
    width: var(--main-navbar-width);
    height: var(--main-navbar-height);
    background-color: var(--white);
    z-index: 100;
}

.nav-box,
.main-navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-montserrat);
}

.nav-box{
    height: 100%;
    width: 100%;
    padding: 0 50px  0 50px;
    background-color: var(--white);
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.187);
    z-index: 100;
}

.logo-box,
.logo-box > img{
    width: 160px;
}

.main-navbar-links{
    gap: 30px;
}

.main-navbar-links > a{
    color: var(--black);
    font-size: 15px;
    text-decoration: none;
}

.search-bar-box{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: var(--main-navbar-width);  
    background-color: var(--light-grey);
    display: none;
    /* transition: 0.25s ease-in; */
    z-index: -10;
}

.toggle-searchbar{
    bottom: -60px;
    display: block;
    transition: display 0.65s ease-in;
    z-index: -10;
}

.search-bar-box > .box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 10px;
}

.search-bar-box > .box > input{
    height: 100%;
    outline: none;
    border: 2px solid lightgrey;
    font-family: var(--ff-montserrat);
}
.search-bar-box > .box > input[type='submit']{
    cursor: pointer;
}

.search-bar-box > .box > .search-bar{
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-bar-box > .box > .search-bar:focus{
    border-color: var(--black-300);
}

.search-bar-box > .box > .search-btn{
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--black-300);
    color: var(--white);
    letter-spacing: 1px;
}

.toggle-up-btn{
    position: absolute;
    right: 0;
    bottom: -20px;
    height: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 70px;
    background-color: var(--light-grey);
    display: grid;
    place-items: center;
}

.toggle-up-btn i{
    font-size: 18px;
    color: var(--black-300);
}