:root{

    /* Screen Size Setup */
    --max-width: 100%;
    --min-height: 100vh;

    --main-navbar-height: 80px;
    --main-navbar-width: var(--max-width);

    --admin-navbar-height: 65px;

    /* Colors */ 
    /* based on logo theme */
    --primary: #145A32;
    --light-grey: #e6e6e6;
    --grey-400: #67707e;
    --grey-600: #505762;
    --grey-800: #393e46;
    --dark-grey: #22252a;
    --black-300: #333;
    /* --bg-color: #f0f0f0; */
    --bg-color: #edf1f5;
    
    /* General Colors */
    --black: #000000;
    --white: #ffffff;
    --blue: #2874F0;
    --red: #E30613;
    --tomato: #F22F46;
    --orange: #fb641b;
    --col-validate: #ff6161;
    --yellow: #FFD700;
    --green: #0E9272;
    --sand: #E1CEB1;
    --navy: #2c3e50;
    --mint: #C7F0D8;
    --lavender: #B1A6D1;
    --softpink: #FFC6D9;
    --violet: #6741d9;
    --pink: #f33155;

    /* Font Family */
    --ff-lato: 'Lato', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-cinzel: 'Cinzel', serif;
    --ff-berkshire-swash : 'Berkshire Swash', cursive;
    --ff-cormorant-garamond: 'Cormorant Garamond', serif;
    --ff-bitter: 'Bitter', serif;
} 

