{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plan | Admin | Dashboard</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
    <!-- CSS Styling -->
    <link rel="stylesheet" href="{% static 'css/dashboard-styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/root.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plans.css' %}" />
    <!-- Ion Icon CDN -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> 
            {% endif %}
        {% endfor %}
    {% endif %}
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">

        <!-- Including Sidebar -->
        {% include 'sidebar-admin.html' %}

        <!--  Main wrapper -->
        <div class="body-wrapper">

            <!-- Including Header -->
            {% include 'navbar-admin.html' %}

            <div class="container-fluid">
                <!-- Category Form -->
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Add Plans</h5>
                        <form action="insert-plan" method="POST" enctype="multipart/form-data" class="content-area-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="inputCategory" class="form-label">Enter Plan Points</label>
                                <input type="number" name="points" class="form-control" id="inputPlan" 
                                    placeholder="100.." required/>
                            </div>
                            <div class="mb-3">
                                <label for="inputCategory" class="form-label">Enter Plan Amount</label>
                                <input type="number" name="amount" class="form-control" id="inputAmount" 
                                placeholder="150.." required/>
                            </div>
                            <button type="submit" class="btn btn-primary">add plan</button>
                        </form>  
                    </div>
                </div>

                <div class="points-plan-box">
                    <header>Points Plan</header>
                    <div class="plan-box-wrap">
                        {% for plan in plans %}
                        <div class="plan-box">
                            <div class="points">{{ plan.points }}<br/>Points</div>
                            <div class="price">₹{{ plan.amount }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <!-- <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script> -->
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
    <!-- <script src="{% static 'js/dashboard.js' %}"></script> -->
</body>
</html>