{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KartZed - eCommerce</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

    <!-- Include Top Main Navigation Bar -->
    {% include 'main-navbar.html' %}

    <!-- Popup form for login/registration -->
    <div class="login-popup" id="login-popup">
        <div class="login-container">
            <div class="close-btn" onclick="closeLoginBox()">
                <!-- <i class="fa-regular fa-xmark-large fa-rotate-90" style="color: #bf1d1d;"></i> -->
                close
            </div>

            <div class="login-card" id="login-card">
                <div class="lft-div">
                    <p>Login</p>
                    <p>Get access to your Orders, Wishlist and Recommendations</p>
                </div>
                <div class="rgt-div">
                    <label for="login-input" class="login-input-label">Enter Email/Mobile number</label>
                    <input type="text" class="login-input" id="login-input" name="email-or-mobileno" />
                    <p class="error-validate-message"></p>
                    <span class="term-policy-label"><p>By continuing, you agree to Flipkart's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></span>
                    <input type="submit" class="send-otp-btn" value="Request OTP">
                    <div class="link-signup"><a onclick="toggleLoginCard()">New to KartZed? Create an Account</a></div>
                </div>
            </div>

            <div class="signup-card" id="signup-card">
                <div class="lft-div">
                    <p>Looks Like you're new here!</p>
                    <p>Sign up with your mobile number to get started</p>
                </div>
                <div class="rgt-div">
                    <label for="login-input" class="login-input-label">Enter Mobile number</label>
                    <input type="text" class="login-input signup-input" id="login-input" name="mobileno" />
                    <p class="error-validate-message"></p>
                    <span class="term-policy-label"><p>By continuing, you agree to Flipkart's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></span>
                    <input type="submit" class="send-otp-btn" value="CONTINUE">
                    <div class="link-login"><a onclick="toggleLoginCard()">Existing User? Log in</a></div>
                </div>
            </div>

            <script>
                function toggleLoginCard() {
                    var element = document.getElementById("login-card");
                    element.classList.toggle("toggle-signup-card");
                    // document.body.style.overflowY = 'hidden';
                    // document.getElementsById("login-input").focus();
                }
            </script>
        </div>
    </div>

    <!-- Navigation Bar -->
    <div class="navigation">
        <a href="#" class="category-list"><img src="{% static 'assets/img/category-home.png' %}" alt="img"/><p>Home</p></a>
        <a href="#" class="category-list"><img src="{% static 'assets/img/category-mobile.png' %}" alt="img"/><p>Mobiles</p></a>
        <a href="#" class="category-list"><img src="{% static 'assets/img/category-electronics.png' %}" alt="img"/><p>Electronics</p></a>
        <a href="#" class="category-list"><img src="{% static 'assets/img/category-appliances.png' %}" alt="img"/><p>Appliances</p></a>
        <a href="#" class="category-list"><img src="{% static 'assets/img/category-babycare.png' %}" alt="img"/><p>Baby Care</p></a>
        <a href="#" class="category-list"><img src="{% static 'assets/img/category-smartwatches.png' %}" alt="img"/><p>Smart Watches</p></a>
        <a href="#" class="category-list"><img src="{% static 'assets/img/category-fitness.png' %}" alt="img"/><p>Health & Fitness</p></a>
    </div>

    <!-- Banner -->
    <div class="flash-banner-container">

    </div>

    <div class="best-sell-view">
        <div class="card">

        </div>
    </div>

</body>
</html>