{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KartZed</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
    <!-- CSS Links -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Ion Icons CDN -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> 
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Include Navigation Bar -->
    {% include 'navbar/navbar.html' %}

    <section class="main-container">

        <div class="flash-banner">
            <div class="gitem grid-item-1">
                <img src="{% static 'images/flash-banner/flash-banner-1.jpg' %}" alt="" srcset="">
            </div>
            <div class="gitem grid-item-2">
                <img src="{% static 'images/flash-banner/flash-banner-2.jpg' %}" alt="" srcset="">
            </div>
            <div class="gitem grid-item-3">
                <img src="{% static 'images/flash-banner/flash-banner-3.jpg' %}" alt="" srcset="">
            </div>
        </div>

        <div class="slilder-sl">
            <div class="slider-header">
                <h1>Best Selling</h1>
                <button class="outline-btn">View all</button>
            </div>
            <div class="slider-card">
                {% for game in games %}
                    <div class="product-card" class="product-card">
                        <div class="card-img-box" style="color: black;">
                            {% if game.game_logo %}
                                <img src="{{ game.game_logo.url }}" alt="{{ game.game_logo }}" class="w-100" />
                            {% else %}
                                image is not rendering
                            {% endif %}
                        </div>
                        <div class="card-details">
                            <!-- <a href="/view_game_page/{{ game.gid }}"> -->
                                <h2>{{ game.game_name }}</h2>
                                <div class="grid-col-2">
                                    <div class="ratings">★★★☆☆</div>
                                    <div class="price">₹{{ game.game_price }}</div>
                                </div>
                                <div class="grid-col-2">
                                    <div class="flex-row">Developer: <span>{{ game.game_developer }}</span></div>
                                    <div class="flex-row">Publisher: <span>{{ game.game_publisher }}</span></div>
                                </div>
                                <div class="card-btn-box">
                                    <a href = "/view_game_page/{{ game.product_key }}">
                                        <button class="filled-btn">View Game</button>
                                    </a>
                                    <!-- <a href = "{% url 'add_to_cart' game.product_key %}"><button class="filled-btn">Add to Cart</button></a> -->
                                    <button class="outline-btn">♡</button>
                                </div>
                            <!-- </a> -->
                        </div>
                    </div>

                {% endfor %}
                
                
            </div>
        </div>

    </section>
</body>
</html>