{% load static %}

<!-- Navigation Bar Styling -->

<nav class="main-navbar">

    <div class="nav-box">
        <div class="logo-box">
            <img src="{% static 'assets/img/KartZed-logo.png' %}" alt="Logo" srcset="">
        </div>
        <div class="main-navbar-links">
            
            <a href="#" id="check">aa</a>

            <a href="#" class="show-search-bar" onclick="showSearchbar()">Search</a>
            <!-- <button type="button" class="login-btn btn" onclick="popupLoginBox()">Login</button> -->
            <a href="#" id="loginLink"  onclick="popupLoginBox()">Login</a>
            <a href="#">Become a Seller</a>
            <a href="#">Cart</a>
        </div>    
    </div>

    <div class="search-bar-box" id="search-bar-box">
        <div class="box">
            <input list="category" class="search-bar" id="search-bar"
            placeholder="Search for products, brands and more..." />
            <datalist id="category">
                <option value="Home Appliances">
                <option value="Smart Phones & Accessories">
                <option value="Electronics & Appliances">
                <option value="Baby Care products">
                <option value="Health & Fitness">
                <option value="Smart Watches">
            </datalist>
            <input type="submit" class="search-btn" value="Search">
        </div>
        <div class="toggle-up-btn" onclick="hideSearchbar()">
            <i class="fa fa-solid fa-caret-up"></i>
        </div>
    </div>

</nav>
