{% load static %}



<!-- Navigation Bar Styling -->
<nav class="main-navbar">
    <div class="logo-box">
        <img src="{% static 'assets/img/KartZed-logo.png' %}" alt="Logo" srcset="">
    </div>
    <div class="search-bar-box">
        <input type="search" class="search-bar" id="search-bar"
        placeholder="Search for products, brands and more..." />
    </div>

    <div class="nav-btn-box">
        <div class="login-btn-box btn-box">
            <button type="button" class="login-btn btn" onclick="popupLoginBox()">Login</button>
        </div>
        <div class="become-seller-btn-box btn-box">
            <button type="button" class="become-seller-btn btn">Become a Seller</button>
        </div>
        <div class="cart-btn-box btn-box">
            <button type="button" class="cart-btn btn">Cart</button>
        </div>
    </div>    
</nav>

<script>
    function popupLoginBox() {
        var element = document.getElementById("login-popup");
        element.classList.toggle("active-popup");
    }
</script>