<!-- Popup form for login/registration -->
<!-- <div class="login-popup" id="login-popup">
    <div class="login-container">
        <div class="close-btn" onclick="closeLoginBox()">
            close
        </div>

        <div class="login-card" id="login-card">
            <div class="lft-div">
                <p>Login</p>
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
            <form class="rgt-div" action="userLogin" method="post">
                {% csrf_token %}
                <label for="login-input" class="login-input-label">Enter Email ID</label>
                <input type="email" class="login-input" id="login-input" name="email" required/>
                <p class="error-validate-message" id="error-validate-message"></p>
                <span class="term-policy-label"><p>By continuing, you agree to KartZed's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></span>
                <input type="submit" class="button send-otp-btn" value="Request OTP" />
                <!-- <div class="link-signup"><a onclick="toggleLoginCard()">New to KartZed? Create an Account</a></div> -->
            </form>
        </div>

        <div class="otp-card" id="otp-card">
            <div class="lft-div">
                <p>OTP Verification</p>
                <p>Verify your Email</p>
            </div>
            <form class="rgt-div" action="verify_otp" method="post">
                {% csrf_token %}
                <label for="login-input" class="login-input-label">Enter OTP</label>
                {% if email %}
                    <input type="hidden" name="email" id="hidden-email" value="{{ email }}">
                {% endif %}
                <input type="tel" class="login-input otp-input" id="login-input" name="otp-input"
                    maxlength="6" required/>
                <p class="error-validate-message"></p>
                <div class="resend-otp-div">
                    <p>Don't you get the OTP? Click 
                        <button type="submit" name="resend-otp">Resend OTP</button>
                    </p>
                    <p class="otp-cooldown-timer">60 sec.</p>
                </div>
                <input type="submit" class="button" value="CONTINUE" />
                <!-- <div class="link-login"><a onclick="toggleLoginCard()">Existing User? Log in</a></div> -->
            </form>
        </div>
    </div>
</div> -->

<!-- OLD LOGIN POPUP -->
<!-- 🙅‍♂️ DON'T REMOVE THIS -->

<!-- <div class="login-popup" id="login-popup">
    <div class="login-container">
        <div class="close-btn" onclick="closeLoginBox()">
            close
        </div>

        <div class="login-card" id="login-card">
            <div class="lft-div">
                <p>Login</p>
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
            <form class="rgt-div" action="" method="post">
                <label for="login-input" class="login-input-label">Enter Email/Mobile number</label>
                <input type="tel" class="login-input" id="login-input" name="email-or-mobileno" maxlength="10" />
                <p class="error-validate-message"></p>
                <span class="term-policy-label"><p>By continuing, you agree to KartZed's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></span>
                <input type="submit" class="button send-otp-btn" value="Request OTP" />
                <div class="link-signup"><a onclick="toggleLoginCard()">New to KartZed? Create an Account</a></div>
            </form>
        </div>

        <div class="signup-card" id="signup-card">
            <div class="lft-div">
                <p>Looks Like you're new here!</p>
                <p>Sign up with your mobile number to get started</p>
            </div>
            <form class="rgt-div" action="registerUser" method="post">
                {% csrf_token %}
                <label for="login-input" class="login-input-label">Enter Mobile number</label>
                <input type="tel" class="login-input signup-input" id="login-input" name="mobileno"
                    maxlength="10" />
                <p class="error-validate-message"></p>
                <span class="term-policy-label"><p>By continuing, you agree to KartZed's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></span>
                <input type="submit" class="button" value="CONTINUE" />
                <div class="link-login"><a onclick="toggleLoginCard()">Existing User? Log in</a></div>
            </form>
        </div>
    </div>
</div> -->