{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Details Page | Vender</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon_logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard-styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/game-details.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <!-- Ion Icon CDN -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<style>
.card-tags{
    padding: 3px 6px;
    background-color: #372f51;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
}    
</style>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">

        <!-- Including Sidebar -->
        {% include 'sidebar-vendor.html' %}

        <!--  Main wrapper -->
        <div class="body-wrapper">

            <!-- Including Header -->
            {% include 'navbar-vendor.html' %}

            <div class="container-fluid">
                <div class="container py-5">
                    <div class="row">
                        {% for gm in Game %}
                        <div class="grid-2">
                            <div class="lft-box" id="lft-box">
                                <div class="edit-icon" id="edit-icon" onclick="show_edit_image()">
                                    <ion-icon name="pencil-outline"></ion-icon>
                                </div>
                                <div class="img-box" id="img-box">
                                    {% if gm.game_logo %}
                                        <img src="{{ gm.game_logo.url }}" />
                                    {% else %}
                                        <p class="img-text">Upload Logo</p>
                                    {% endif %}
                                </div>
                                <div class="edit-img-box" id="edit-img-box">
                                    <form action="{{gm.product_key}}/upload_game_logo" method="post" class="img-form" id="img-form"
                                        enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" name="game_logo" id="game_logo" required/>
                                        <button class="btn btn-primary">Upload Logo</button>
                                    </form>
                                </div>
                            </div>
                            <div class="rgt-box">
                                <h2>{{ gm.game_name }}</h2>
                                <p>{{ gm.game_description }}</p>
                                <div class="flex-2">
                                    <p>RAM: <span>{{ gm.game_ram }}</span></p>
                                    <p>Storage: <span>{{ gm.game_storage }}</span></p>
                                </div>
                                <div class="flex-2">
                                    <p>Developer: <span>{{ gm.game_developer }}</span></p>
                                    <p>Publisher: <span>{{ gm.game_publisher }}</span></p>
                                </div>
                                <div class="flex-2">
                                    <p>Price: <span>{{ gm.game_price }}</span></p>
                                    <p>Discount: <span>{{ gm.discount }}%</span></p>
                                </div>
                                <div class="flex-2">
                                    <p>Available Stock: <span>{{ gm.avail_stock }}</span></p>
                                    <p>Release Date: <span>{{ gm.game_release_date }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-3 w-100 mt-50">
                            <div class="col-1 flex-col w-100">
                                <header>Features</header>
                                <p class="text-center">
                                    {% for feature in gm.game_features %}
                                        <p>{{ feature }}</p>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-2 flex-col w-100">
                                <header>Modes</header>
                                <p class="text-center">
                                    {% for mode in gm.game_modes %}
                                        <p>{{ mode }}</p>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-3 flex-col w-100">
                                <header>Categories</header>
                                <p class="text-center">
                                    {% for category in gm.game_categories %}
                                        <p>{{ category }}</p>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div class="grid-3 w-100 mt-50">
                            <div class="col-1 flex-col w-100">
                                <header>Platforms</header>
                                <p class="text-center">
                                    {% for platform in gm.platform_names %}
                                        <p>{{ platform }}</p>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-2 flex-col w-100">
                                <header>Languages</header>
                                <p class="text-center">
                                    {% for language in gm.game_languages %}
                                        <p>{{ language }}</p>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function show_edit_image(){
            var imgBox = document.getElementById("img-box");
            var editImgBox = document.getElementById("edit-img-box");
            if (editImgBox.style.display === "block") {
                imgBox.style.zIndex = '1';
                editImgBox.style.display = "none";
            } else {
                imgBox.style.zIndex = '0';
                editImgBox.style.display = "block";
            }
        }
    </script>
    <!-- <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script> -->
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script> -->
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
    <!-- <script src="{% static 'js/dashboard.js' %}"></script> -->
</body>

</html>